.sidebar_logo {
  margin-bottom: 1rem;

  .sidebar_logo__wide {
    width: 200px;
  }
}

@media screen and (min-width: 896px) {
  .sidebar_logo {
    margin-top: 0;
    text-align: center;

    .sidebar_logo__slim {
      width: 40px;
    }
  }

  .hidden {
    display: none;
  }
}
