.sidebar_logo {
  margin: -0.25rem 0 1rem 3rem;
  opacity: 0;

  .sidebar_logo__wide {
    max-width: 180px;
  }

  &.open {
    transition: opacity 0.2s ease;
    transition-delay: 0.2s;
    opacity: 1;
  }
}

@media screen and (min-width: 896px) {
  .sidebar_logo {
    transition: none;
    margin: 0 0 1rem;
    text-align: center;
    opacity: 1;
    width: 100%;

    .sidebar_logo__wide {
      max-width: 200px;
    }

    .sidebar_logo__slim {
      max-width: 40px;
    }
  }

  .hidden {
    display: none;
  }
}
