.sidebar_logo {
  margin: -0.25rem 0 1rem 3rem;
  opacity: 0;

  &.open {
    transition: 0.2s ease;
    transition-delay: 0.2s;
    opacity: 1;
  }

  .sidebar_logo__wide {
    width: 200px;
  }
}

@media screen and (min-width: 896px) {
  .sidebar_logo {
    transition: none;
    margin: 0 0 1rem;
    text-align: center;
    opacity: 1;

    .sidebar_logo__slim {
      width: 40px;
    }
  }

  .hidden {
    display: none;
  }
}
